[Unit]
Description=Change wallpaper periodically

[Service]
Type=oneshot
ExecStart=/usr/bin/wallpaper-changer

[Install]
WantedBy=wallpaper-changer.timer
