[Desktop Entry]
Version=1.0
Type=Application
Name=vm-gui
Comment=A simple GUI for qemu. libvirt and virt-viewer
Exec=vm-gui
Icon=virt-viewer
Path=
Terminal=false
StartupNotify=true
