[Desktop Entry]
Version=1.0
Type=Application
Name=User Manager
Comment=Simple user manager (for Xfce)
Exec=gksu -w UserManager
Icon=user-info
Path=
Terminal=false
StartupNotify=false
