[Unit]
Description=Change brightness hourly

[Timer]
OnStartupSec=30 seconds
OnCalendar=hourly
#OnCalendar=*:01:00
Persistent=true
 
[Install]
WantedBy=timers.target
