[Desktop Entry]
Version=1.0
Type=Application
Name=StickBurn
Comment=Burn ISO to USB drive
Exec=stickburn
Icon=drive-removable-media-usb
Path=
Terminal=true
StartupNotify=true
