[SddmGreeterTheme]
Name=EndeavourOS
Name[ar]=نسيم
Name[az]=EndeavourOS
Name[be]=EndeavourOS
Name[bg]=EndeavourOS
Name[bs]=EndeavourOS
Name[ca]=Brisa
Name[ca@valencia]=Brisa
Name[cs]=EndeavourOS
Name[da]=EndeavourOS
Name[de]=EndeavourOS
Name[el]=EndeavourOS
Name[en_GB]=EndeavourOS
Name[eo]=EndeavourOS
Name[es]=Brisa
Name[et]=EndeavourOS
Name[eu]=EndeavourOS
Name[fi]=EndeavourOS
Name[fr]=EndeavourOS
Name[gl]=EndeavourOS
Name[he]=בריזה
Name[hi]=ब्रीज़
Name[hu]=EndeavourOS
Name[ia]=Brisa
Name[id]=EndeavourOS
Name[is]=EndeavourOS
Name[it]=Brezza
Name[ja]=EndeavourOS
Name[ka]=ნიავი
Name[ko]=EndeavourOS
Name[lt]=EndeavourOS
Name[ml]=ബ്രീസ്
Name[nb]=EndeavourOS
Name[nds]=EndeavourOS
Name[nl]=EndeavourOS
Name[nn]=EndeavourOS
Name[pa]=ਬਰੀਜ਼
Name[pl]=Bryza
Name[pt]=Brisa
Name[pt_BR]=EndeavourOS
Name[ro]=Briză
Name[ru]=EndeavourOS
Name[sa]=ब्रीज़
Name[sk]=Vánok
Name[sl]=Sapica
Name[sr]=Поветарац
Name[sr@ijekavian]=Поветарац
Name[sr@ijekavianlatin]=Povetarac
Name[sr@latin]=Povetarac
Name[sv]=EndeavourOS
Name[ta]=பிரீஸ்
Name[tg]=Насим
Name[tr]=Esinti
Name[uk]=EndeavourOS
Name[vi]=EndeavourOS
Name[x-test]=xxBreezexx
Name[zh_CN]=EndeavourOS 微风
Name[zh_TW]=微風
Description=EndeavourOS pic
Description[ar]=بريز
Description[az]=EndeavourOS
Description[be]=EndeavourOS
Description[bg]=EndeavourOS
Description[ca]=Brisa
Description[ca@valencia]=Brisa
Description[cs]=EndeavourOS
Description[da]=EndeavourOS
Description[de]=EndeavourOS
Description[en_GB]=EndeavourOS
Description[eo]=EndeavourOS
Description[es]=Brisa
Description[et]=EndeavourOS
Description[eu]=EndeavourOS
Description[fi]=EndeavourOS pic
Description[fr]=EndeavourOS
Description[gl]=EndeavourOS.
Description[he]=בריזה
Description[hi]=ब्रीज़
Description[hu]=EndeavourOS
Description[ia]=Brisa
Description[id]=EndeavourOS
Description[is]=EndeavourOS
Description[it]=Brezza
Description[ja]=EndeavourOS
Description[ka]=ნიავი
Description[ko]=EndeavourOS
Description[lt]=EndeavourOS
Description[ml]=ബ്രീസ്
Description[nl]=EndeavourOS
Description[nn]=EndeavourOS
Description[pa]=ਬਰੀਜ਼
Description[pl]=Bryza
Description[pt]=Brisa
Description[pt_BR]=EndeavourOS
Description[ro]=Briză
Description[ru]=EndeavourOS
Description[sa]=ब्रीज़
Description[sk]=Vánok
Description[sl]=Sapica
Description[sv]=EndeavourOS
Description[ta]=பிரீஸ்
Description[tg]=Насим
Description[tr]=Esinti
Description[uk]=EndeavourOS
Description[vi]=EndeavourOS
Description[x-test]=xxBreezexx
Description[zh_CN]=EndeavourOS 微风
Description[zh_TW]=EndeavourOS
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=endeavouros-wallpaper.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=breeze
Theme-API=2.0
QtVersion=6
